@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;">Name</span>:&nbsp; &nbsp;<em>Yarin Getter</em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
<h3><span style="text-decoration: underline;">Id</span>: 311115885</h3>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;">Name</span>:&nbsp; &nbsp;<em>Zohar Zaborski</em></h3>
<h3><span style="text-decoration: underline;">Id</span>: 204124382</h3>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://media.istockphoto.com/vectors/thumb-up-emoticon-vector-id157030584?k=20&amp;m=157030584&amp;s=612x612&amp;w=0&amp;h=TsRUZrgOW19D1f3WMleDrgGL-xfI6g0ZYhJDp58lS0E=" alt="smily" width="235" height="225" /></p>