@page
@model IndexModel
@{
    ViewData["Title"] = "My Home page";
}

<body style="background-image: url(../images/download1.jpg); background-size: 1280px" ;>

    <div style="display: block; margin-left: auto; margin-right: auto; text-align: left;">
        <h2 style="color: red; font-style: italic; padding-left: 240px;"><span style="background-color: #ffffff; color: #ff0000;">Welcome To Checkers Dashboard!</span></h2>
        <form style="padding-left: 240px;" action="" autocomplete="on" method="post"></form>
        <div style="display: block; margin-left: auto; margin-right: auto; padding-left: 240px;"><span style="background-color: #ffffff; color: #000000;"><a style="color: #000000; background-color: #ffffff;" href="~/Users/Create">1. Sign Up for the game</a></span></div>
        <div style="display: block; margin-left: auto; margin-right: auto; padding-left: 240px;"><span style="background-color: #ffffff; color: #000000;"><a style="background-color: #ffffff; color: #000000;" href="~/Queries">2. Queries</a></span></div>
        <div style="display: block; margin-left: auto; margin-right: auto; padding-left: 240px;"><span style="background-color: #ffffff; color: #000000;"><a style="background-color: #ffffff; color: #000000;" href="~/Users">3. Show Registered Users</a></span></div>
        <div style="display: block; margin-left: auto; margin-right: auto; padding-left: 240px;"><span style="background-color: #ffffff; color: #000000;"><a style="background-color: #ffffff; color: #000000;" href="~/Games">4. Show Registered Games</a></span></div>
        <div style="display: block; margin-left: auto; margin-right: auto; padding-left: 240px;">
            <span style="background-color: #ffffff; color: #000000;"><a style="background-color: #ffffff; color: #000000;" href="About">5. Go to About page</a></span>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>

</body>
