@page
@model IndexModel
@{
    ViewData["Title"] = "My Home page";
}



<div>
    <h4 style="color:red;font-style:italic">Welcome To Checkers Dashboard!</h4>
    <form action="" method="post" autocomplete="on">
    </form>
    <p>
        <a href="~/Users">Show Registered Users</a>
    </p>
    <p>
        <a href="~/Games">Show Registered Games</a>
    </p>
    <p>
        <a href="~/Users?handler=Q15">Show q15</a>
    </p>
    <p>
        <a href="Privacy">Please press here for privacy</a>
    </p>
    <p>
        <a href="About">Go to About page</a>

    </p>
    <img src="~/images/privacy.png" alt="Privacy" title="privacy photo of apple" style="max-width:30%; max-height:30%" />
</div>
