@page
@model Website.Pages.QueriesModel
@{
}
<body style="background-image: url(../images/quer.jpg); background-size: 1280px" ;>
    <h1 style="text-align: center;"><span style="text-decoration: underline;">Queries</span></h1>
    <p>&nbsp;</p>
    <p style="text-align: center;"><a href="~/Users?handler=Q15"><span style="background-color: #000000; color: #ffffff;">Query15</span></a></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Users/PageQ16?handler=Q16">Query16</a></span></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Games">Query17</a></span></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Users/PageQ18">Query18</a></span></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Users/PageQ19">Query19</a></span></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Users/PageQ20">Query20</a></span></p>
    <p style="text-align: center;"><span style="background-color: #000000; color: #ffffff;"><a style="background-color: #000000; color: #ffffff;" href="~/Users/PageQ21">Query21</a></span></p>

</body>