@page
@model Website.Model.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body style="background-image: url(../images/regis.png); background-size: 1280px" ;>
    <h1>Create User</h1>

    <h4>Please Enter Your Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"
                <label asp-for="TblUsers.Id" class="control-label"></label>
                <div>
                    <td> <input asp-for="TblUsers.Id" class="form-control" min="1" max="1000" /></td>
                </div>
            </div>
                <div class="form-group">
                    <label asp-for="TblUsers.Name" class="control-label"></label>
                    <input asp-for="TblUsers.Name" class="form-control" />
                    <span asp-validation-for="TblUsers.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TblUsers.Phone" class="control-label"></label>
                    <input asp-for="TblUsers.Phone" class="form-control" />
                    <span asp-validation-for="TblUsers.Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
