@page
@model Website.Pages.Users.IdTakenModel
@{
    ViewData["Title"] = "IdTaken";
}

<h1>@ViewData["Title"]</h1>

<p>We are sorry but the id you have chosen is already taken, please try register with other id.</p>
<p>
    <a asp-page="Create">Try Again</a>
</p>
