@page
@model Website.Pages.Users.PageQ16Model
@{
}
<h1>Registered Users with case sensitive</h1>
<h3>Query 16</h3>
<table class="blueTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyA[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyA[0].Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyA)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

            </tr>
        }
    </tbody>
</table>