@page
@model Website.Pages.Games.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblGames</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblGames.GameId" />
            <div class="form-group">
                <label asp-for="TblGames.UserId" class="control-label"></label>
                <input asp-for="TblGames.UserId" class="form-control" />
                <span asp-validation-for="TblGames.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblGames.Date" class="control-label"></label>
                <input asp-for="TblGames.Date" class="form-control" />
                <span asp-validation-for="TblGames.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblGames.Length" class="control-label"></label>
                <input asp-for="TblGames.Length" class="form-control" />
                <span asp-validation-for="TblGames.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblGames.Winner" class="control-label"></label>
                <input asp-for="TblGames.Winner" class="form-control" />
                <span asp-validation-for="TblGames.Winner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
